*{
    box-sizing: border-box;
}

.container{
    width: 400px;
    border-radius: 4px;
    overflow: hidden;
}
.form{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #d8d1d1;
}
.form-control small{
    position: absolute;
    margin: 3px;

}
button{
    background-color: burlywood;
    color: #fff;
    width: 100px;
    border-radius: 4px;

}